.deployment_details .deployment_details__label {
  font-weight: bold;
  white-space: nowrap;
}

.deployment_details .deployment_details__status {
  text-transform: capitalize;
}

.log-table .log-table__row__written-on {
  width: 250px;
}

.log-table .log-table__row--stdin {
  color: blue;
}

.log-table .log-table__row--stderr {
  color: red;
}


