.deployments-table .deployments-table__body {
  font-family: 'Roboto', sans-serif;
}

.deployments-table .deployments-table__body__row--applied,
.deployments-table .deployments-table__body__row--pending {
  color: grey;
}

.deployments-table .deployments-table__body__row--failed .deployments-table__body__row__status {
  color: red;
}

.deployments-table .deployments-table__heading__created-date {
  width: 350px;
}

.deployments-table .deployments-table__heading__created-by {
  width: 200px;
}

.deployments-table .deployments-table__heading__actions {
  width: 31px;
}

.deployments-table .deployments-table__body__row__created-date .deployments-table__body__row__created-date__on {
  margin-right: 20px;
  white-space: nowrap;
}

.deployments-table .deployments-table__body__row__created-date .deployments-table__body__row__created-date__ago {
  font-style: italic;
  white-space: nowrap;
}

.deployments-table .deployments-table__body__row__namespace-name,
.deployments-table .deployments-table__body__row__cluster-name,
.deployments-table .deployments-table__body__row__service-name,
.deployments-table .deployments-table__body__row__version {
  white-space: nowrap;
}

.deployments-table .deployments-table__body__row__status {
  text-transform: capitalize;
}

