{
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current",
          "plugins": [
            ["babel-plugin-stack-trace-sourcemap", {
                "importOverride": ["source-map-support", "install", "_sourceMapSupport"],
                "execute": true
            }]
          ]
        }
      }
    ],
    [
      "stage-3"
    ]
  ]
}
