build
node_modules
coverage
secrets
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
newrelic_agent.log*

server/build
server/node_modules
server/coverage
server/secrets
server/.DS_Store
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/newrelic_agent.log*

client/build
client/node_modules
client/coverage
client/secrets
client/.DS_Store
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
