.accounts-table .accounts-table__body {
  font-family: 'Roboto', sans-serif;
}

.accounts-table .accounts-table__heading__created-date {
  width: 350px;
}

.accounts-table .accounts-table__body__row__created-date .accounts-table__body__row__created-date__on {
  margin-right: 20px;
}

.accounts-table .accounts-table__body__row__created-date .accounts-table__body__row__created-date__ago {
  font-style: italic;
}

.accounts-table .accounts-table__body__row__display-name {
  white-space: nowrap;
}

.accounts-table .accounts-table__heading__created-by {
  width: 200px;
}
