.registries-table .registries-table__body {
  font-family: 'Roboto', sans-serif;
}

.registries-table .registries-table__heading__created-date {
  width: 350px;
}

.registries-table .registries-table__body__row__created-date .registries-table__body__row__created-date__on {
  margin-right: 20px;
}

.registries-table .registries-table__body__row__created-date .registries-table__body__row__created-date__ago {
  font-style: italic;
}

.registries-table .registries-table__body__row__registry-name {
  white-space: nowrap;
}

.registries-table .registries-table__heading__created-by {
  width: 200px;
}
